.kw-btn {
   @include border-radius(2px);
   @include transition(background-color ease-out .2s, color ease-out .2s);
   font-size: 12px;
   line-height: 20px;
   margin: 5px 5px 5px 0;
   padding: 7px 10px;

   background-color: white;
   border: 1px solid #EEE;
   color: $color-4-2-card-supportive-text;

   &:last-child {
      margin-right: 0;
   }

   &:hover {
      cursor: pointer;
   }
}

.kw-btn:hover {
   background-color: $color-2-2-primary-background-hover;
}

.kw-btn.selected {
   background-color: $color-2-2-primary-background;
   color: white;
}

.kw-btn.disabled {
   background-color: $color-4-1-card-background;

   &:hover {
      background-color: $color-4-1-card-background;
      cursor: not-allowed;
   }
}

.kw-btn.selected .kw-event-outcome-odds {
   color: white;
}

.kw-btn.selected .kw-event-outcome-label {
   color: white;
   opacity: 0.85;
}

