i {
   width: 10px;
   height: 20px;
   background: no-repeat center 6px;
   background-size: 10px 10px;
   float: left;
}

.icon-rotate-right {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAk1BMVEUAAACZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZlO2tqaAAAAMHRSTlMAAQIDBg8QFxgaJicoLC0uLzNAUlxeX2FmgoWGiIuMlJW5vMDHys7g5ujp8/f5+/0iAeCXAAAAx0lEQVQYGW3B21aDMABFwRMCFi0qRq1CLQrekArd//91WsgCHjIjz14X9c/xs7ixGjmNoodfvP7RSnLobNOy0m7kQP/yAXjZxsbE2z0wFICkdIAmkXfxzkiyLbwZzcwHZ9IOGqOFYyTbQ6KFY6IcDlo4PJWQKaSBWCEdGIV0YBTSQKyQEjKF5FApxPaQKGQHtVGAbeHVaGaqO03SE9SJvKSBe03yE1BlsTFxdgD6K3lpy8r3pWb2qccbniOt2bxsuuPX/jbS5A8OlSFA7QJMxAAAAABJRU5ErkJggg==');
}

.icon-plus {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAADFBMVEUAAACZmZmZmZmZmZnk5WrOAAAAA3RSTlMAw8Xxr3ZsAAAAKElEQVQIW2NgYJD/wgAC9n/Ioer/A8Ffhv9ggJ2CKiHCMByU/g8GBgCR5zjDhSpsEQAAAABJRU5ErkJggg==');
}
