// Temporary overrides
// These classes will be moved to core-library

.KambiWidget-outcome__label-wrapper {
   -webkit-box-flex: 1;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   padding: 0 3px;
   overflow: hidden;
   color: #ffffff;
   opacity: 0.85; }
