.kw-main {
   display: flex;
   flex-direction: column;
   flex: 1;
   justify-content: flex-start;
   flex-basis: auto;
}

.kw-event {
   display: flex;
   flex-direction: column;
   padding: 12px 16px;
}

.kw-event__participants {
   cursor: pointer;
   display: flex;
   padding-bottom: 6px;
   font-size: 14px;
}

.kw-event__participants__item {
   white-space: nowrap;
}

.kw-event__participants__divider {
   margin: 0 4px;
}

.kw-event__path {
   display: flex;
   flex-direction: row;

   :not(:first-child):before {
      content: "/";
      margin-left: 4px;
      margin-right: 4px;
   }
}

.kw-event__path_part {
   white-space: nowrap;
}

.kw-event__outcomes {
   display: flex;
   margin-top: 12px;
}

.kw-footer {
   display: flex;
   margin-top: 0;
   margin-left: 16px;
   margin-right: 16px;
   margin-bottom: 12px;
}

.kw-footer__add {
   margin-top: 8px;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
}

.kw-footer__reset {
   margin-top: 8px;
   margin-left: 8px;
   margin-right: 0;
   margin-bottom: 0;
}

.kw-footer__addbetslip {
   margin-top: 8px;
   margin-left: auto;
   margin-right: 0;
   margin-bottom: 0;
}

button.KambiWidget-outcome {
   margin: 0!important; // Safari bug
}
