.kw-event-path {
   div:not(:first-child):before {
      content: "/";
      margin-left: 6px;
      margin-right: 6px;
   }
   div:last-child {
      @include flexbox; // overrides display: inline-block rule in Kambi CSS
   }
}

.kw-header {
   background-color: transparent;
   font-size: 12px;
}

.kw-event-name {
   font-size: 14px;
}

.kw-event-path-name {
   @include flex(0 1 auto);
}

//Footer button

.kw-btn-outer {
   @include flex(0 1 auto);

   .kw-btn {
      display: block;
      overflow: hidden;
   }

   .kw-btn-label {
      overflow: hidden;
      @include flex(1 1 auto);

      > span {
         @include flex(0 1 auto);
         display: block;
      }
   }
}

#add-to-betslip {
   flex-basis: auto;
}

.main {
   flex-basis: auto;
}